
@import "nib"
@import "includes/config.styl"

@import "blocks/cover.styl"

.construccion
	margin: 50px 0px

	p
		font-size: 40px
		text-align: center
		font-weight: bold
		color: ccAzulMedio
		padding: 50px 0px
		border-top: 1px solid #ccc
		border-bottom: 1px solid #ccc