@import "nib"

/** Configuración general del sitio
*/
@import "libs/normalize.styl"
@import "includes/config.styl"
@import "includes/site.styl"
@import "includes/buttons.styl"


/** Estilos de los bloques que aparecen en todas las páginas
*/
@import "blocks/header.styl"
@import "blocks/nav.styl"
@import "blocks/footer.styl"