
@import "nib"
@import "../includes/config.styl"

.bkagen
	margin-top: 38px
	padding: 4em 0
	min-height: 350px
	
	&__titulo
		display: block
		margin-bottom: 20px
		padding: 0 1%
	
	&__cont
		font-size: 0px
	
	&__el
		display: inline-block
		width: 25%
		box-sizing: border-box
		font-size: 10px
		vertical-align: top
		
		&__wraper
			display: block
			margin: 4%
			padding: 1em

		&__fecha
			margin-bottom: 0.5em
		&__titulo
			margin-bottom: 0.5em
			font-size: 2em
		&__descrip
			line-height: 1.4em
			max-height: 8em
			overflow: hidden
			font-size: 1.5em
		&__elip
			margin-top: -0.3em