
@import "nib"
@import "../includes/config.styl"

.bkagen
	margin-top: 38px
	padding: 4em 0
	min-height: 350px
	
	&__wraper
		display: none
	
	&__titulo
		display: block
		margin-bottom: 20px
		padding: 0 1%
	
	&__cont
		font-size: 0px
	
	&__el
		display: inline-block
		width: 25%
		padding: 0.5%
		box-sizing: border-box
		font-size: 10px
		vertical-align: top
		cursor: pointer
		
		@media all and (max-width: 1100px)
			width: 33.3333333%
		@media all and (max-width: 800px)
			width: 50%
			padding: 1em 0.9em
		@media all and (max-width: 560px)
			font-size: 9px
			padding: 1em 0.8em
		@media all and (max-width: 460px)
			width: 100%
			padding: 1em 0
		
		&__wraper
			display: block
			border-radius: 3px
			background-color: crgb(ccGris5)
			overflow: hidden

		&__dt
			width: 8em
			float: left
			background-color: crgb(ccAzul1)
			border-radius: 0 0 100% 0
			margin 0 0 1em 0
			box-shadow: 0 0 5px 0 rgba(0,0,0,0.8)
			&__fch
				padding: 1em
				padding-bottom: 2em
				&__name
					font-stretch: condensed
					font-weight: bold
				&__dia
					margin-top: -0.1em
					line-height: 1em
				&__mes
					text-transform: uppercase
					padding-top: 0.2em
		
		&__enc
			padding: 1em
			
			&__hora
				padding: 0.8em 1em
				margin-bottom: 1em
			&__titulo
				padding: 0 1em
			
		&__body
			width: 100%
			padding: 1em
			box-sizing: border-box
			width: 100%
			&:after
			&:before
				content: ""
				display: block
				clear: both
			&__descrip
				line-height: 1.4em
				max-height: 5.5em
				overflow: hidden
			&__elip
				margin-top: -0.3em
				
	&__vi
		display: none
		@media all and (max-width: 560px)
			font-size: 9px
			
		&__head
			position: relative
			&:after
			&:before
				content: ""
				display: block
				clear: both
			&__fch
				display: inline-block
				float: left
				margin-right: 3em
				@media all and (max-width: 640px)
					display: block
					float: none
					margin-right: 0
				&__dt
					display: inline-block
					&__dia
						font-size: 8em
						box-sizing: border-box
						margin-top: -0.2em
					&__mes
						border-bottom: 1px solid crgb(ccGris4)
						padding-bottom: 0.1em
				&__hr
					margin-left: 2em
					display: inline-block
					&__dia
						margin-bottom: 0.4em
			&__titulo
				padding-top: 1.2em
				line-height: 1.4em
				
				@media all and (max-width: 640px)
					padding-top: 0.8em
					
			&__boton
				display: inline-block
				width: 132px
				position: absolute
				top: 0
				right: 0
					
		&__body
			&__descrip
				margin-top: 2em
				line-height: 1.5em
				padding-bottom: 1.5em
				margin-bottom: 1.5em
				border-bottom: 1px solid crgb(ccGris4)
				@media all and (max-width: 640px)
					margin-top: 1em
					margin-bottom: 1em
					
			&__detalle
				&__datos
					display: inline-block
					width: 50%
					box-sizing: border-box
					vertical-align: top
					padding-right: 1.5em
					@media all and (max-width: 640px)
						width: 100%
						padding-right: 0
				&__mapa
					display: inline-block
					width: 50%
					box-sizing: border-box
					vertical-align: top
					@media all and (max-width: 640px)
						width: 100%
					iframe
						display: block
						width: 100%
						height: 20em