
@import "nib"
@import "../includes/config.styl"

.bkdocs
	margin-top: 38px
	padding: 3em 0
	min-height: 350px
	
	&__group
		&__title
			padding-bottom: 0.2em
			margin-bottom: 0.5em
			border-bottom: 1px solid crgb(ccGris4)

		&__cont
			margin-bottom: 40px
			
	
	&__el
		display: block
		box-sizing: border-box
		margin-left: 3%
		cursor: pointer
		transition: background-color 150ms
		border-bottom: 1px solid crgb(ccGris5)
		font-size: 10px
		height: 46px
		&:after
		&:before
			content: ""
			display: block
			clear: both
			
		&:hover
			background-color: crgb(ccGris6)
		div
			height: 100%
			float: left
			box-sizing: border-box
			vertical-align: middle
			font-weight: bold
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
		&__nombre
			padding: 0.8em 0.2em
			color : crgb(ccGris2)
			width: 66%
			font-size: 1.7em
			vertical-align: middle
			font-stretch: condensed
		&__fecha
			color : crgb(ccAzul3)
			width: 15%
			font-size: 1.4em
			padding: 1.18em 0.3em
		&__tipo
			color : crgb(ccGris2)
			width: 19%
			font-size: 1.4em
			padding: 1.18em 0.3em