@import "nib"

.bkhdr
	color: crgb(ccGris1)
	border-top: 3px solid crgb(ccAzul3)
	
	&__logo
		text-align: left
		padding-top: 14px
		padding-bottom: 14px
		display: inline-block
		
		&__img
			display: inline-block
			vertical-align: middle
			img
				display: block
				height: auto
				vertical-align: middle
				width: 80px
		&__name
			display: inline-block
			margin-left: 16px
			vertical-align: middle
			&__2
				margin-top: 4px
				
	&__links
		color: crgb(ccGris2)
		float: right
		text-align: right
		position: absolute		
		top: 25px
		right: 0px
		margin-right: 1px
		
		&:hover a
			border-left: none !important
		
		a
			display: inline-block
			padding: 2px 10px
			text-decoration: none
			transition: all 0.2s
			margin-top: 1px
			&:hover
				outline: 1px solid crgb(ccGris2) !important
	
	&__buttons
		bottom: 25px
		position: absolute
		right: 0px
		box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5)
		
		a
			background-color: crgb(ccAzul3)
			color: white
			font-weight: bold
			font-size: 14px
			float: left
			display: inline-block
			padding: 15px
			text-decoration: none
			transition: all 150ms
			text-transform: uppercase
			&:hover
				transform: scale(1.02)
				box-shadow: 0px 0px 4px 0px rgb(0,0,0)
			&:active
				transform: scale(1.01)
			&:not(:first-child)
				border-left: 1px solid rgba(0,0,0,0.08)