
/** Variables
*/ 
ccAzul1 = 6,68,127
ccAzul2 = 0,109,204
ccAzul3 = 0,141,210
ccAzul4 = 183,219,237

ccGris1 = 42,42,42
ccGris2 = 107,107,107
ccGris3 = 180,180,180
ccGris4 = 200,200,200
ccGris5 = 220,220,220
ccGris6 = 240,240,240

ccAmarillo1 = 255,179,0
ccAmarillo2 = 255,242,0

//font1 = "PT Sans Narrow",'Helvetica Neue',Arial,Helvetica,sans-serif
font1 = 'futura-pt', Geneva, sans-serif
font2 = Georgia,"Times New Roman",Times,serif

$pageMaxWidth 		= 1400px
$pageMaxWidthSlide 	= 1000px
$pagePadding 		= 3%
	

/** Mixins
*/ 

crgb(codigo)
	return rgb(codigo)

crgba(codigo,transparencia)
	return rgba(codigo,transparencia)