
@import "nib"

.unprg-slider
	font-size: 10px
	
	@media screen and (max-width: 720px)
		font-size: 9px
	@media screen and (max-width: 620px)
		font-size: 8px
	@media screen and (max-width: 520px)
		font-size: 7px
	@media screen and (max-width: 420px)
		font-size: 6.5px
		
	.owl-controls
		display: none !important
	
	.item
		box-sizing: border-box
		position: relative
		overflow: hidden

		img
			display: block
			height: auto
			width: 100%
		p
			color: white
			
			a
				cursor: pointer
				color: white
				text-decoration: none
			
		.item-titulo
			font-size: 2.2em
			font-family: font2
			padding: 1.2em 1em
			background-color: ccAzulOscuro
		
		.item-descripcion
			background-color: rgba(0,33,71,0.7)
			bottom: -100px
			opacity: 0
			font-size: 1.6em
			left: 0px
			padding: 0.8em 1.25em
			position: absolute
			right: 0px
			background: linear-gradient(to right, rgba(0,33,71,0.7) 0%, rgba(0,33,71,0.7) 70%, rgba(0,33,71,1) 100%)
			transition: all 300ms
			
		&:hover .item-descripcion
			bottom: 0px
			opacity: 1