@import "nib"
	
.unprg-nav
	background-color: ccAzulMedio
	font-size: 10px
	
	ul
		list-style: none
		font-size: 0px
		
	a,p
		color: white
		cursor: pointer
		display: block
		font-size: 14px
		padding: 10px 16px
		text-decoration: none
		transition: all 200ms
		white-space: nowrap
		&:hover
			background-color: ccAzul
			color: white
			
	.level-first
		margin-left: 110px
		li
			display: inline-block
			font-weight: bold
			
	.level-second
		display: none