
ccAzul = #0064A0
ccAzulMedio = #164070
ccAzulClaro = #0078C8
ccAzulOscuro = #002147
ccAmarillo = #FFD200

ccPlomo1 = #E6E6E6
ccPlomo2 = #B3B3B3
ccPlomo3 = #808080
ccPlomo4 = #4D4D4D

cfAmarillo = #997E00
cfAzul = #003C60

font1 = Arial,sans-serif
font2 = Georgia,"Times New Roman",Times,serif

*
	margin: 0
	padding: 0
	font-family: font1

html
	font-size: 10px
	
.wraper
	max-width: 1400px
	padding-left: 4%
	padding-right: 4%
	margin: 0 auto

.clean
	clear: both
	height: 0px
	width: 100%