
@import "nib"

html,body
	font-family: font1
	*
		margin: 0
		padding: 0
		
a
	color: inherit
	
.block
	cursor: default
	font-size: 10px
	width: 100%
	
	&__wraper
		display: block
		margin-left: auto
		margin-right: auto
		max-width: $pageMaxWidth
		position: relative
		@media all and (max-width: $pageMaxWidth)
			margin-left: $pagePadding
			margin-right: $pagePadding
			
		&--slim
			display: block
			margin-left: auto
			margin-right: auto
			max-width: $pageMaxWidthSlide
			position: relative
			@media all and (max-width: $pageMaxWidthSlide)
				margin-left: $pagePadding
				margin-right: $pagePadding
			
	&__clean
		clear: both
		height: 0px
		width: 100%
	

.bgc
	background-color: white
	
	&--azul1
		background-color: crgb(ccAzul1)
	&--azul2
		background-color: crgb(ccAzul2)
	&--azul3
		background-color: crgb(ccAzul3)
	&--azul4
		background-color: crgb(ccAzul4)
		
	&--gris1
		background-color: crgb(ccGris1)
	&--gris2
		background-color: crgb(ccGris2)
	&--gris3
		background-color: crgb(ccGris3)
	&--gris4
		background-color: crgb(ccGris4)
	&--gris5
		background-color: crgb(ccGris5)
	&--gris6
		background-color: crgb(ccGris6)
	
	&--amarillo1
		background-color: crgb(ccAmarillo1)
		
	&--amarillo2
		background-color: crgb(ccAmarillo2)


.cc
	color: white
	
	&--azul1
		color: crgb(ccAzul1)
	&--azul2
		color: crgb(ccAzul2)
	&--azul3
		color: crgb(ccAzul3)
	&--azul4
		color: crgb(ccAzul4)
		
	&--gris1
		color: crgb(ccGris1)
	&--gris2
		color: crgb(ccGris2)
	&--gris3
		color: crgb(ccGris3)
	&--gris4
		color: crgb(ccGris4)
	&--gris5
		color: crgb(ccGris5)
	&--gris6
		color: crgb(ccGris6)
	
	&--amarillo1
		color: crgb(ccAmarillo1)
		
	&--amarillo2
		color: crgb(ccAmarillo2)
		

.ff
	font-size: 10px
	&--b
		font-weight: bold
	&--i
		font-style: italic
	&--o
		font-style: oblique
	&--c
		text-align: center
	&--j
		text-align: justify
	&--condensed
		font-stretch: condensed
		letter-spacing: 0.1em
	&--special
		font-family: font2
	
	&--44
		font-size: 4.4em
	&--40
		font-size: 4em
	&--38
		font-size: 3.8em
	&--34
		font-size: 3.4em
	&--30
		font-size: 3em
	&--26
		font-size: 2.6em
	&--22
		font-size: 2.2em
	&--18
		font-size: 1.8em
	&--16
		font-size: 1.6em
	&--14
		font-size: 1.4em
	&--12
		font-size: 1.2em
	&--0
		font-size: 0px
		
.plx
	&__item
		
		&.hide
			opacity: 0
		&.show
			opacity: 1