@import "nib"
	
.bknav
	position: absolute
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.8)
	background-color: crgba(ccAzul2,0.92)
	z-index: 10
	height: 38px
	*
		box-sizing: border-box
		
	&__wraper
		height: 100%
	
	&--sg //color diferente para el menu del sistem sgw
		background-color: crgb(ccAzul1)
	&--stiky //propiedades de menu pegajoso
		left: 0px
		position: fixed
		right: 0px
		top: 0px
		.bknav__up
			display: inline-block
		
	

	&__up //boton para regresar al encabezado
		position: absolute
		left: 0
		top: 0
		height: 100%
		display: none
		color: white
		@media all and (max-width: 940px)
			display: inline-block
		&__bu
			font-size: 2.4em
			height: 100%
			span
				line-height: 40px

	&__icons
		position: absolute
		right: 0
		top: 0
		height: 100%
			
		&__bu
			height: 100%
			color: white
			font-size: 2em
			margin-left: 1.4em
			float: left
			transition: all 150ms
			@media all and (max-width: 940px)
				margin-left: 1em
			@media all and (max-width: 820px)
				margin-left: 0.6em
				
			&:hover
				transform: scale(1.1)
			span
				line-height: 38px
			
		.bknav__slide
			display: none
			cursor: pointer
			font-size: 2.4em
			


	ul
		list-style: none
		
	a
		text-decoration: none
		
	&__ul
		height: 100%
		margin-left: 8em
		padding-left: 6px
		@media all and (max-width: 940px)
			margin-left: 4em
		
		&__li
			display: inline-block
			height: 100%
			vertical-align: middle
				
			&__bu
				font-size: 1.6em
				color: white
				cursor: pointer
				display: block
				height: 100%
				line-height: 38px
				padding: 0 1em
				white-space: nowrap
				letter-spacing: 1px
				font-stretch: condensed
				transition: all 100ms
				@media all and (max-width: 940px)
					padding: 0 0.6em
				@media all and (max-width: 820px)
					padding: 0 0.4em
			&:hover .bknav__ul__li__bu
				color: crgb(ccAmarillo2)
				transform : scale(1.1)
			&:hover .bknav__sub
				display: block
			&:hover .bknav__sub--single
				display: block
		
		&__sep
			color: white
			display: inline-block
			height: 100%
			vertical-align: middle
			font-size: 1.6em
			line-height: 38px
			
	&__sub
		display: none
		position: absolute
		top: 38px
		left: 0px
		right: 0px
		text-align: center
		font-size: 15px
		
		&--single
			display: none
			position: absolute
			top: 38px
			text-align: center
			font-size: 15px
		
		&__wraper
			display: inline-block
			box-sizing: border-box
			border: 2px solid crgb(ccAzul3)
			background-color: white
			white-space: nowrap
			padding: 10px 0px
			overflow: auto
			text-align: left
			vertical-align: top
			box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.8)
			border-radius: 0 0 4px 4px
			
		&__ul
			display: inline-block
			margin: 0 15px
			max-width: 320px
			white-space: normal
			vertical-align: top
			
			&--underline
				display: inline-block
				margin: 0 15px
				max-width: 320px
				white-space: normal
				vertical-align: top
				.bknav__sub__ul__li__bu
					border-bottom: 1px solid crgb(ccGris4)
			
			&__li
				display: block
				color: crgb(ccGris1)
				
				&--title
					display: block
					font-size: 1.2em
					font-weight: bold
					
					.bknav__sub__ul__li__bu
						border-bottom: 1px solid crgb(ccAmarillo1)
						padding-bottom: 2px
						margin-bottom: 6px
					
				&--empty
					color: transparent
				
				&__bu
					display: block
					padding: 8px 0px
					
			a:hover
				color: crgb(ccAzul2)