
@import "nib"
@import "../includes/config.styl"

.sgwImg
	
	&__el
		border: 1px solid crgb(ccGris3)
		
	.form_galeria
		display: none
		
	.sgwImg__visor
		&__cont
			text-align: center
			vertical-align: middle
			img
				display: inline-block
				vertical-align: middle
				max-height: 160px
				max-width: 280px
				margin: 8px
				border-radius: 3px
				