@import "nib"
@import "../includes/config.styl"

.bksgw
	margin-top: 50px
	
	.block
		padding: 2em 0
	
	.pointer
		cursor: pointer
	.hide
		display: none
		
		
	&__titulo
		font-family: font2
		font-size: 2.4em
		padding-bottom: 0.2em
		margin-bottom: 0.5em
		border-bottom: 1px solid crgb(ccGris3)
		color: crgb(ccAzul2)
		
	&__form
		display: block
		color: crgb(ccGris1)
		font-size: 0
		white-space: normal
		&:after
		&:before
			content: ""
			display: block
			clear: both
		
		&__info
			display: block
			color: crgb(ccGris2)
			font-size: 14px
			overflow: hidden
			
		&__status
			display: block
			color: crgb(ccAzul2)
			overflow: hidden
		
		&__hr
			display: block
			width: 100%
			border-bottom: 1px solid crgb(ccGris4)
			margin: 5px 0
			
		.btn--azul
		.btn--amarillo
			font-size: 16px
			padding: 5px 10px
			font-weight: bold
			
		&__el
			display: block
			font-size: 15px
			padding: 8px 10px
			width: 50%
			box-sizing: border-box
			text-align: top
			height: 65px
			float: left
			&:after
			&:before
				content: ""
				display: block
				clear: both
			@media all and (max-width: 800px)
				width: 100%
			&--w
				display: block
				font-size: 15px
				padding: 10px 10px
				width: 100%
				box-sizing: border-box
				text-align: top
				float: left
				height: auto
		
		label
			display: block
			width: 100%
			padding-bottom: 2px
			font-size: 14px
			font-weight: bold
			
		input, select, textarea
			display: block
			box-sizing: border-box
			width: 100%
			padding: 4px 6px
			border-radius: 3px
			outline: none
			border 1px solid crgb(ccGris3)
			margin: 1px
			vertical-align: top
			
			&:focus
				outline: none
				border: 2px solid crgb(ccAmarillo1)
				margin: 0px
				
		input[type=file]
			border: none
			padding: 4px 0
			
		textarea
			min-width: 100%
			max-width: 100%
			min-height: 32px
		
		input[type=checkbox]
			height: 20px
			
		input[disabled]
			background-color: transparent
			cursor: normal
			border: none
			padding-left: 0
			padding-right: 0
			color: crgb(ccGris2)
			
		.inputDateTime
			display: block
			box-sizing: border-box
			text-align: center
			vertical-align: top
			&:after
			&:before
				content: ""
				display: block
				clear: both
				
			input
				display: inline-block
				float: left
				width: 16%
				text-align: center
				box-sizing: border-box
			span
				padding-top: 4px
				display: inline-block
				float: left
				width: 4.2%
				text-align: center
				box-sizing: border-box
				font-size: 20px
				
		.inputTime
			display: block
			box-sizing: border-box
			text-align: center
			vertical-align: top
			&:after
			&:before
				content: ""
				display: block
				clear: both
				
			input
				display: inline-block
				float: left
				width: 44%
				text-align: center
				box-sizing: border-box
			span
				padding-top: 4px
				display: inline-block
				float: left
				width: 10%
				text-align: center
				box-sizing: border-box
				font-size: 20px
			

.sgwstatus
	position: fixed
	left: 0
	right: 0
	bottom: 1em
	z-index: 8
	@media all and (max-width: 540px)
		font-size: 9px
		
	&__wraper
		text-align: center
	
	&__cont
		color: white
		display: inline-block
		padding: 1em
		border-radius: 4px
		position: relative
		box-shadow: 0 0 8px 0 rgb(0,0,0,0.5)
		line-height: 1.4em
		text-align: left
		&__close
			color: crgb(ccAmarillo2)
			position: absolute
			font-size: 14px
			padding: 6px 6px 6px 6px
			top -6px
			right: -6px
			cursor: pointer
			display: inline-block
			border-radius: 100%
			
	.ok
		background-color: crgb(ccAzul1)
		.sgwstatus__cont__close
			background-color: crgb(ccAzul1)
	.err
		background-color: crgb(ccGris1)
		.sgwstatus__cont__close
			background-color: crgb(ccGris1)