@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?a19tt7');
    src:    url('fonts/icomoon.eot?a19tt7#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?a19tt7') format('truetype'),
        url('fonts/icomoon.woff?a19tt7') format('woff'),
        url('fonts/icomoon.svg?a19tt7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pencil2:before {
    content: "\e912";
}
.icon-image:before {
    content: "\e913";
}
.icon-play:before {
    content: "\e914";
}
.icon-file-text2:before {
    content: "\e915";
}
.icon-location:before {
    content: "\e916";
}
.icon-user:before {
    content: "\e901";
}
.icon-spinner2:before {
    content: "\e902";
}
.icon-search:before {
    content: "\e903";
}
.icon-menu:before {
    content: "\e904";
}
.icon-cloud-download:before {
    content: "\e905";
}
.icon-link:before {
    content: "\e906";
}
.icon-star-full:before {
    content: "\e900";
}
.icon-info:before {
    content: "\e907";
}
.icon-cancel-circle:before {
    content: "\e908";
}
.icon-cross:before {
    content: "\e909";
}
.icon-checkmark:before {
    content: "\e90a";
}
.icon-loop:before {
    content: "\e917";
}
.icon-circle-up:before {
    content: "\e90b";
}
.icon-circle-right:before {
    content: "\e90c";
}
.icon-circle-down:before {
    content: "\e90d";
}
.icon-circle-left:before {
    content: "\e90e";
}
.icon-google-drive:before {
    content: "\e90f";
}
.icon-facebook:before {
    content: "\e910";
}
.icon-youtube2:before {
    content: "\e911";
}
.icon-file-pdf:before {
    content: "\e918";
}

